@page "/"
@rendermode InteractiveServer
<MudSnackbarProvider />
<PageTitle>Home</PageTitle>

<div class="pb-10 menu-font">
    <div class="p-24 lg:pl-32 lg:pr-32">
        <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-4">
            <h4 class="text-white font-bold title lg:text-3xl text-center px-2 w-full mx-auto -mt-1">
                LAUNCHBASE
            </h4>
            <p class="text-white card-text text-center px-2 py-2 w-full mx-auto -mt-1">
                Your trusted gateway to invest in launching projects
            </p>
            <a 
                    class="mx-auto w-4\/5 flex items-center justify-center inline-block px-4 py-2.5 bg-blue-600 text-white font-bold text-base menu-btn leading-tight shadow-md hover:bg-blue-700 hover:shadow-lg hover:bg-blue-700 focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                    href="/presale">
                Start Now
            </a>
            <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-10">
                <MudGrid Spacing="4" Justify="Justify.Center">
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <h3 class="text-white font-bold text-4xl">16.29M</h3>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <p class="text-white">Total Liquidity Raised</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>


                    <MudItem xs="3">
                        <div class="mx auto rounded-md bg-hr w-full border-1  shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4 ">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <h3 class="text-white font-bold text-4xl">16</h3>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <p class="text-white">Total Projects</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx auto rounded-md bg-hr w-full border-1  shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4 ">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <h3 class="text-white font-bold text-4xl">16</h3>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <p class="text-white">Total Participants</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx auto rounded-md bg-hr w-full border-1  shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4 ">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <h3 class="text-white font-bold text-4xl">$9.87M</h3>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <p class="text-white">Total Value Locked</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                </MudGrid>

            </div>
            <h5 class="text-white font-bold title lg:text-2xl text-center px-2 w-full mx-auto -mt-1 pt-8">
                IN SPOTLIGHT: EVERCRAFT ECO TECHNOLOGY
            </h5>
            <p class="text-white text-center px-2 py-1 w-full mx-auto -mt-1">
                CRAFTING THE FUTURE – IN HARMONY WITH NATURE AND HUMANITY.
            </p>
            <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-10">
                <MudGrid Spacing="4" Justify="Justify.Center">

                    <MudItem xs="6">
                        <MudLink Href="https://evercraft.eco/" Underline="Underline.None">
                            <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                                <div class="mt-1 w-full p-4">
                                    <div class="mt-4">
                                        <MudGrid xs="12">
                                            <MudItem xs="12">
                                                <MudAvatar Size="Size.Large">
                                                    <MudImage Src="/images/logo3.png" />
                                                </MudAvatar>
                                                <h3 class="text-white font-bold text-2xl">Evercraft Eco</h3>
                                                <p class="text-info font-bold">Learn about the platform.</p>
                                            </MudItem>
                                        </MudGrid>
                                    </div>
                                </div>
                            </div>
                        </MudLink>
                    </MudItem>

                    <MudItem xs="6">
                        <MudLink Href="https://ecet.io/" Underline="Underline.None">
                            <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                                <div class="mt-1 w-full p-4">
                                    <div class="mt-4">
                                        <MudGrid xs="12">
                                            <MudItem xs="12">
                                                <MudAvatar Size="Size.Large">
                                                    <MudImage Src="/images/logo3.png" />
                                                </MudAvatar>
                                                <h3 class="text-white font-bold text-2xl">Ecet Token</h3>
                                                <p class="text-info font-bold">Learn about the token.</p>
                                            </MudItem>
                                        </MudGrid>
                                    </div>
                                </div>
                            </div>
                        </MudLink>
                    </MudItem>
                </MudGrid>

            </div>
            <h5 class="text-white font-bold title lg:text-2xl text-center px-2 w-full mx-auto -mt-1 pt-8">
                TRUE SUSTAINABILITY THROUGH TOKENIZATION.
            </h5>
            <p class="text-white text-center px-2 py-1 w-full mx-auto -mt-1">
                <span>Converting waste into some of the most valuable materials available: Graphene and carbon nanotubes.</span><br/>
                <span>Revolutionizing the industry. Creating new markets. 100% sustainable, environmentally friendly and affordable.</span>
            </p>
            <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-10">
                <MudGrid Spacing="3" Justify="Justify.Center">

                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Sustainability</h3>
                                            <p class="text-white font-bold">Evercraft is concerned with true sustainability.</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Deflationary can stay the same</h3>
                                            <p class="text-white font-bold">A deflationary token model leads to rising prices and sustainable price increases.</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">LP Locked</h3>
                                            <p class="text-white font-bold">Liquidity is demonstrably locked and therefore secure.</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Innovative</h3>
                                            <p class="text-white font-bold">Innovative design of tokenomics ensures maximum utilization of potential</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Transparency</h3>
                                            <p class="text-white font-bold">Evercraft offers maximum transparency by implementing the blockchain.</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Cost-efficient</h3>
                                            <p class="text-white font-bold">Evercraft technology drastically reduces the cost of producing profitable raw materials</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Community</h3>
                                            <p class="text-white font-bold">The community is the focus of the entire project.</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xs="3">
                        <div class="mx-auto rounded-md bg-hr w-full border-1 shadow-lg text-center" style="border:1px">
                            <div class="mt-1 w-full p-4">
                                <div class="mt-4">
                                    <MudGrid xs="12">
                                        <MudItem xs="12">
                                            <MudAvatar Size="Size.Large">
                                                <MudImage Src="/images/logo3.png" />
                                            </MudAvatar>
                                            <h3 class="text-white font-bold text-2xl">Long established</h3>
                                            <p class="text-white font-bold">Evercraft has been researching the innovative technology since 2014.</p>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </div>
                        </div>
                    </MudItem>
                </MudGrid>
                <p class="text-left text-white">
                    ©️ Launchbase est. 2018 . All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>
@code
{
    Dictionary<string, string> PaymentModes = new()
    {
        {"BNB","/coins/BNB.png"},
        {"BUSD","/coins/BUSD.png" },
        { "ETH","/coins/ETH.png"},
        { "USDC","/coins/USDC.png"},
        { "USDT","/coins/USDT.png"}
    };


}