@page "/kyc-audit"
@rendermode InteractiveServer
<MudSnackbarProvider />
<PageTitle>Audit</PageTitle>
<div class="pb-10 menu-font">
    <div class="p-24 lg:pl-32 lg:pr-32">
        <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-4">
            <h6 class="text-info font-bold text-4xl lg:text-4xl text-left py-2 w-full mx-auto -mt-1">
                Audit & KYC
            </h6>
            <div class="w-full grid grid-cols-1 lg:grid-cols-1 gap-2">
                <p class="text-white font-bold text-2xl lg:text-2xl text-left w-full mx-auto -mt-1">
                    Pre-sale Audit and Badge
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    At Launchbase, we collaborate with a range of approved auditors to meticulously analyze project code for potential vulnerabilities and malicious intentions. Our goal is to instill confidence in the launches of projects on our platform. By leveraging state-of-the-art manual security checks and AI-driven technology, we ensure the security and integrity of blockchains, smart contracts, and Web3 applications for our clients. By obtaining an audit badge for your launch, you demonstrate that your contract has been thoroughly assessed by one of our trusted partners. Contact our team on Telegram to begin the process.
                </p>
                <p class="text-white font-bold text-2xl lg:text-2xl text-left w-full mx-auto -mt-1">
                    Exclusive KYC for Project Owners
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    Launchbase is committed to combating scams and rugpulls. To that end, we have developed a suite of features and tools designed to help you make informed decisions about the potential value and legitimacy of presale investments.
                </p>
                <p class="text-white font-bold text-2xl lg:text-2xl text-left w-full mx-auto -mt-1">
                    Understanding KYC
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    Know Your Customer (KYC) is an identity verification process used to confirm that individuals are who they claim to be. Project owners must submit ID documentation (such as a passport or national ID) to an automated platform. This process is comparable to the KYC procedure required when opening a trading account with a major exchange like Binance.
                </p>
                <p class="text-white font-bold text-2xl lg:text-2xl text-left w-full mx-auto -mt-1">
                    Implications for Users
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    <span>The KYC process serves as a deterrent for malicious developers, striving to eliminate scams and rugpulls from our platform. If any team members from a KYC-verified project engage in fraudulent</span>
                    <br/>
                    <span>- We will disclose their identities.</span>
                    <br/>
                    <span>- We will make this information publicly available to those who wish to pursue legal action.</span><br/>
                    <span>For investors: If you have serious concerns about a project and can provide evidence that it is a scam, please contact us immediately with as much supporting information as possible. We will conduct an investigation and inform you of our findings.</span>
                    <br/>
                    <span>For project owners: To establish trust with investors, we highly recommend contacting our Telegram KYC team to apply for KYC verification. This process lends credibility to your project. Please note that KYC approval may take 24-48 hours, so reach out as soon as possible.</span>
                </p>
                <p class="text-white font-bold text-2xl lg:text-2xl text-left w-full mx-auto -mt-1">
                    Refund Policy
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    This statement outlines all instructions and requirements for successful KYC completion. If you disagree with these terms, please do not submit payment. By proceeding with the KYC processing fee payment, you acknowledge that you are not entitled to a refund under any circumstances.
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    In particular, we emphasize the importance of honesty throughout the process. You must use your actual documents, legal name, and accurate role in the project. Failure to do so will result in immediate KYC cancellation without a refund.
                </p>
                <p class="text-white font-bold text-2xl lg:text-2xl text-left w-full mx-auto -mt-1">
                    Important Disclaimer
                </p>
                <p class="text-white text-xl lg:text-xl text-left w-full mx-auto -mt-1">
                    A project receiving the KYC badge does not imply our endorsement or recommendation. Even if we host an AMA with the project, it is crucial to conduct your own research (DYOR) before investing. Remember that Launchbase is a decentralized platform.
                </p>
            </div>
        </div>
    </div>
</div>
@code {

}
